{% extends 'base.html' %}

{% block content %}
<div>
        <p>
                <div class="float-left">
                        <h3>List of {{title}}</h3>
                </div>
                <button type="submit"  onclick="location.href = '/appointments/create';" class="btn btn-success float-right">Neuer Termin</button>
               
        </p>
        {% if appointments %}
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Appointment</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for appointment in appointments %}
                    <tr>
                        <th scope="row">
                            {{appointment.date}}
                        </th>
                        <td class="text-center">
                            {% if appointment.title != None %}
                            <a class="btn btn-primary" href="{%  url 'appointments:detail' appointment.id %}">Details</a>
                            <a class="btn btn-primary" href="{%  url 'appointments:edit' appointment.id %}">Edit</a>
                            <a class="btn btn-primary" href="{%  url 'appointments:delete' appointment.id %}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
        {% else %}
            <br><br><p>There are no current Appointments.</p>
        {% endif %}


</div>
{% endblock content %}